In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
def get_id2string(infile, to_int=False):
    id2lang = {}
    with open(infile, encoding='utf8') as f:
        for line in f:
            if line.startswith('ID,'):
                continue
            cells = line.split(',')
            entry_id = cells[0]
            if to_int:
                entry_id = int(entry_id)
            id2lang[entry_id] = cells[1]
    return id2lang

id2lang = get_id2string('./data/languages.csv')
id2param = get_id2string('./data/parameters.csv')

- 0.0 - 5. no evidence for borrowing
- 0.25 - 4. very little evidence for borrowing
- 0.5 - 3. perhaps borrowed
- 0.75 - 2. probably borrowed
- 1.0 - 1. clearly borrowed

In [2]:
df_complete = pd.read_csv('./data/forms.csv')
df = df_complete[['ID', 'Language_ID', 'Parameter_ID', 'Form', 'BorrowedScore']]
df.head(10)
# df_complete.head()

C:\Users\vbl\Anaconda3\envs\env\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      ID  Language_ID Parameter_ID       Form  BorrowedScore
0  51602            1          1-1      dunia           1.00
1  51603            1          1-1  ulimwengu           0.25
2  18425            2          1-1      yaamu           0.00
3   8475            3          1-1     ʔalame           1.00
4  10666            4          1-1   dúuníyàa           1.00
5  23191            5          1-1      dúnyâ           1.00
6   1254            6          1-1     ddənya           1.00
7  49513            7          1-1     lemonn           0.00
8  42643            8          1-1       lume           0.00
9  47780            9          1-1     világo           1.00

In [4]:
# df['category'] = df['Parameter_ID'].apply(lambda x: x.split('-')[0])
# df.head()

In [4]:
# df.BorrowedScore.unique()
df[df.BorrowedScore == 1.0].head(10)

       ID  Language_ID Parameter_ID      Form  BorrowedScore
0   51602            1          1-1     dunia            1.0
3    8475            3          1-1    ʔalame            1.0
4   10666            4          1-1  dúuníyàa            1.0
5   23191            5          1-1     dúnyâ            1.0
6    1254            6          1-1    ddənya            1.0
9   47780            9          1-1    világo            1.0
15  26045           14          1-1      mɨrr            1.0
16   2946           15          1-1    dunnal            1.0
17      0           16          1-1     dunil            1.0
21  19687           21          1-1     sekai            1.0

**NOTE**: Some languages have multiple words with different borrowing statuses for one concept.

In [12]:
concept = dict()
for index, row in df.iterrows():
    if row['BorrowedScore'] > 0.7:  # probably/clearly borrowed
        lang = id2lang[row['Language_ID']]
        try:
            concept[row['Parameter_ID']].add(lang)
        except KeyError:
            concept[row['Parameter_ID']] = {lang}

In [16]:
print(id2param['1-1'])
print(concept['1-1'])

the world
{'Gawwada', 'Kanuri', 'Japanese', 'Swahili', 'Kildin Saami', 'Selice Romani', 'Archi', 'Vietnamese', 'Indonesian', 'Hausa', 'Thai', 'Bezhta', 'Tarifiyt Berber'}

In [19]:
THRESHOLD = 5
c1_ids = []
c1_counts = []
c2_ids = []
c2_counts = []
coocc_counts = []

concepts = list(concept.keys())

for i, c1 in enumerate(concepts):
    for c2 in concepts[i + 1:]:
        
        c1_count = len(concept[c1])
        if c1_count < THRESHOLD:
            continue
        c2_count = len(concept[c2])
        if c2_count < THRESHOLD:
            continue
        c1_ids.append(id2param[c1])
        c2_ids.append(id2param[c2])
        c1_counts.append(c1_count)    
        c2_counts.append(c2_count)
        coocc_counts.append(len(concept[c1].intersection(concept[c2])))

In [20]:
df_pmi = pd.DataFrame({'c1': c1_ids, 'c2': c2_ids,
                   'c1_count': c1_counts, 'c2_count': c2_counts,
                   'cooccurrence': coocc_counts})
df_pmi.head()

          c1                      c2  c1_count  c2_count  cooccurrence
0  the world                the land        13         6             4
1  the world                the dust        13         9             4
2  the world                 the mud        13         5             1
3  the world    the mountain or hill        13         9             3
4  the world  the cliff or precipice        13         5             2

In [21]:
n_langs = len(df.Language_ID.unique())
n_langs

41

In [22]:
df_pmi['c1_prop'] = df_pmi['c1_count'] / n_langs
df_pmi['c2_prop'] = df_pmi['c2_count'] / n_langs
df_pmi['coocc_prop'] = df_pmi['cooccurrence'] / n_langs

df_pmi['pmi'] = np.log(df_pmi['coocc_prop'] / df_pmi['c1_prop'] / df_pmi['c2_prop'])
df_pmi['npmi'] = df_pmi['pmi'] / - np.log(df_pmi['coocc_prop'])
df_pmi.sort_values(by=['cooccurrence'], ascending=False).head()

C:\Users\vbl\Anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in log
  """
C:\Users\vbl\Anaconda3\envs\env\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in log

,c1,c2,c1_count,c2_count,cooccurrence,c1_prop,c2_prop,coocc_prop,pmi,npmi
585045,the motor,the coffee,34,34,30,0.829268,0.829268,0.731707,0.062048,0.198635
342985,the soap,the coffee,33,34,29,0.804878,0.829268,0.707317,0.058000,0.167496
299709,the sugar,the hour,33,33,29,0.804878,0.804878,0.707317,0.087853,0.253707
517235,the hour,the clock,33,32,29,0.804878,0.780488,0.707317,0.118624,0.342572
323437,the sock or stocking,the hour,32,33,29,0.780488,0.804878,0.707317,0.118624,0.342572

In [57]:
df_pmi.sort_values(by=['npmi', 'coocc_prop', 'cooccurrence'], ascending=False)

,c1,c2,c1_count,c2_count,cooccurrence,c1_prop,c2_prop,coocc_prop,pmi,npmi
723240,12-45,12-46,10,10,10,0.243902,0.243902,0.243902,1.410987,1.000000
140952,2-64,2-641,6,6,6,0.146341,0.146341,0.146341,1.921813,1.000000
741691,13-07,13-09,12,12,12,0.292683,0.292683,0.292683,1.228665,1.000000
295764,4-28,12-24,4,4,4,0.097561,0.097561,0.097561,2.327278,1.000000
301628,4-31,4-33,4,4,4,0.097561,0.097561,0.097561,2.327278,1.000000
609480,9-32,10-471,4,4,4,0.097561,0.097561,0.097561,2.327278,1.000000
646593,10-35,12-212,4,4,4,0.097561,0.097561,0.097561,2.327278,1.000000
67721,1-75,12-27,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
67976,1-75,18-12,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
117924,2-48,2-49,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
292702,4-27,15-55,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
308007,4-344,4-61,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
308009,4-344,4-62,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
312594,4-352,10-57,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
316375,4-372,4-38,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
347320,4-61,4-62,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
399125,5-13,10-23,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
606666,9-28,11-15,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
643573,10-22,18-42,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
655863,10-472,15-63,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
656259,10-472,4-8541,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
717056,12-27,18-12,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
731077,12-68,24-14,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
783749,15-63,4-8541,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
821760,17-62,17-63,3,3,3,0.073171,0.073171,0.073171,2.614960,1.000000
770859,14-63,14-64,21,20,20,0.512195,0.487805,0.487805,0.669050,0.932032
771290,14-64,14-65,20,21,20,0.487805,0.512195,0.487805,0.669050,0.932032
743660,13-101,13-102,9,10,9,0.219512,0.243902,0.219512,1.410987,0.930517
138545,2-63,2-631,8,7,7,0.195122,0.170732,0.170732,1.634131,0.924459
133719,2-61,2-611,6,7,6,0.146341,0.170732,0.146341,1.767662,0.919789
...,...,...,...,...,...,...,...,...,...,...
863829,8-121,4-8541,3,3,0,0.073171,0.073171,0.000000,-inf,NaN
863830,8-121,9-111,3,4,0,0.073171,0.097561,0.000000,-inf,NaN
863831,8-121,4-431,3,6,0,0.073171,0.146341,0.000000,-inf,NaN
863832,8-121,9-311,3,4,0,0.073171,0.097561,0.000000,-inf,NaN
863833,8-121,1-775,3,5,0,0.073171,0.121951,0.000000,-inf,NaN
863834,8-121,24-04,3,6,0,0.073171,0.146341,0.000000,-inf,NaN
863845,11-29,9-111,9,4,0,0.219512,0.097561,0.000000,-inf,NaN
863846,11-29,4-431,9,6,0,0.219512,0.146341,0.000000,-inf,NaN
863850,12-081,13-231,3,7,0,0.073171,0.170732,0.000000,-inf,NaN
863851,12-081,13-331,3,3,0,0.073171,0.073171,0.000000,-inf,NaN
863852,12-081,14-251,3,9,0,0.073171,0.219512,0.000000,-inf,NaN
863855,12-081,22-132,3,14,0,0.073171,0.341463,0.000000,-inf,NaN
863856,12-081,24-14,3,3,0,0.073171,0.073171,0.000000,-inf,NaN
863857,12-081,4-7501,3,5,0,0.073171,0.121951,0.000000,-inf,NaN
863859,12-081,9-111,3,4,0,0.073171,0.097561,0.000000,-inf,NaN
863860,12-081,4-431,3,6,0,0.073171,0.146341,0.000000,-inf,NaN
863862,12-081,1-775,3,5,0,0.073171,0.121951,0.000000,-inf,NaN
863873,13-231,4-431,7,6,0,0.170732,0.146341,0.000000,-inf,NaN
863883,13-331,4-8541,3,3,0,0.073171,0.073171,0.000000,-inf,NaN
863884,13-331,9-111,3,4,0,0.073171,0.097561,0.000000,-inf,NaN
863888,13-331,24-04,3,6,0,0.073171,0.146341,0.000000,-inf,NaN
863895,14-251,9-111,9,4,0,0.219512,0.097561,0.000000,-inf,NaN
863913,22-131,4-8541,24,3,0,0.585366,0.073171,0.000000,-inf,NaN
863921,22-132,4-8541,14,3,0,0.341463,0.073171,0.000000,-inf,NaN
863922,22-132,9-111,14,4,0,0.341463,0.097561,0.000000,-inf,NaN
863929,24-14,9-111,3,4,0,0.073171,0.097561,0.000000,-inf,NaN
863930,24-14,4-431,3,6,0,0.073171,0.146341,0.000000,-inf,NaN
863946,9-111,9-311,4,4,0,0.097561,0.097561,0.000000,-inf,NaN
863949,4-431,9-311,6,4,0,0.146341,0.097561,0.000000,-inf,NaN
863951,4-431,24-04,6,6,0,0.146341,0.146341,0.000000,-inf,NaN